In [1]:
import numpy as np
import pandas as pd

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import cross_val_score

In [9]:
df=pd.read_csv('1_fake_new_dataset_3120.csv',encoding='windows-1252')#had some decode error. so used encoding
df

,Unnamed: 0,title,text,subcategory,label
0,0,FACEBOOK DELETES MICHIGAN ANTI-LOCKDOWN GROUP ...,Facebook has shuttered a popular group for Mic...,false news,0
1,1,Other Viewpoints: COVID-19 is worse than the flu,We can now officially put to rest all comparis...,true,1
2,2,Bermuda's COVID-19 cases surpass 100,The Ministry of Health in Bermuda has confirme...,true,1
3,3,Purdue University says students face 'close to...,"Purdue University President Mitch Daniels, the...",partially false,0
4,4,THE HIGH COST OF LOCKING DOWN AMERICA: “WE’VE ...,Locking down much of the country may have help...,false news,0
...,...,...,...,...,...
3114,2998,2019-nCoV: Health dept. on full alert,Quarantine advised for 80 persons across the S...,true,1
3115,2999,Screening machine for corona virus launched at...,South Sudan has begun screening all travelers ...,true,1
3116,3000,Coronavirus (2019-nCoV),Coronavirus (2019-nCoV) is a new respiratory i...,true,1
3117,3001,Characterizing Patients Hospitalized With COVI...,Characterizing Patients Hospitalized With COVI...,false news,0
3118,3002,Corona Virus WARNING,Just something to be prepared for… but then it...,false news,0

In [12]:
df=pd.read_csv('1_fake_new_dataset_3120.csv',encoding='windows-1252')
conversion_dict={0:'False',1:'True'}
df['label']=df['label'].replace(conversion_dict)#Replace 1,0 to real and fake
df

,Unnamed: 0,title,text,subcategory,label
0,0,FACEBOOK DELETES MICHIGAN ANTI-LOCKDOWN GROUP ...,Facebook has shuttered a popular group for Mic...,false news,False
1,1,Other Viewpoints: COVID-19 is worse than the flu,We can now officially put to rest all comparis...,true,True
2,2,Bermuda's COVID-19 cases surpass 100,The Ministry of Health in Bermuda has confirme...,true,True
3,3,Purdue University says students face 'close to...,"Purdue University President Mitch Daniels, the...",partially false,False
4,4,THE HIGH COST OF LOCKING DOWN AMERICA: “WE’VE ...,Locking down much of the country may have help...,false news,False
...,...,...,...,...,...
3114,2998,2019-nCoV: Health dept. on full alert,Quarantine advised for 80 persons across the S...,true,True
3115,2999,Screening machine for corona virus launched at...,South Sudan has begun screening all travelers ...,true,True
3116,3000,Coronavirus (2019-nCoV),Coronavirus (2019-nCoV) is a new respiratory i...,true,True
3117,3001,Characterizing Patients Hospitalized With COVI...,Characterizing Patients Hospitalized With COVI...,false news,False
3118,3002,Corona Virus WARNING,Just something to be prepared for… but then it...,false news,False

In [13]:
#Check the balance of the data
df.label.value_counts()#Not balanced. Have to find a way to solve this

True     2061
False    1058
Name: label, dtype: int64

In [15]:
X_train, X_test,y_train, y_test=train_test_split(df['text'],df['label'],test_size=0.25,random_state=9,shuffle=True)

In [16]:
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.75)

In [21]:
vec_train=tfidf_vectorizer.fit_transform(X_train.values.astype('U'))
vec_test=tfidf_vectorizer.transform(X_test.values.astype('U'))

In [22]:
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(vec_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [25]:
y_pred=pac.predict(vec_test)
score=accuracy_score(y_test,y_pred)
print(f'PAC Accuracy: {round(score*100,2)}%')

PAC Accuracy: 78.08%

In [27]:
confusion_matrix(y_test,y_pred, labels=['True','False'])

array([[428,  97],
       [ 74, 181]], dtype=int64)

In [28]:
#428 true positive-predicted real and actually real
#181 false negative- predicted false and actually false
#accuracy=(428+181)/(428+181+74+97)  = 78.08

In [29]:
#K fold accuracy
X=tfidf_vectorizer.transform(df['text'].values.astype('U'))

In [30]:
scores=cross_val_score(pac,X,df['label'].values, cv=5)
print(f'K fold accuracy : {round(scores.mean()*100,2)}%')

K fold accuracy : 78.81%

In [33]:
df_true=pd.read_csv('Real.csv',encoding='windows-1252')
#df_true_rep=[df_true['text'][i].replace('WASHINGTON(Reuters)-','').replace]
#df_true['text']=df_true_rep

In [39]:
df_fake=pd.read_csv('Fake.csv',encoding='windows-1252')

In [40]:
df_final=pd.concat([df_true,df_fake])

In [41]:
df_fake

,Unnamed: 0,title,text,label
0,NaN,The reason why the COVID-19 mortality rate and...,instant download http://drberg.com/covid-waves...,False
1,947.0,Some mouthwashes could help curb coronavirus,researchers are looking into possibility that ...,False
2,948.0,The World Health Organization confirmed that t...,zerohedge on long enough timeline survival rat...,False
3,949.0,The U.S. CDC said that the virus which causes ...,owen breaks down latest update from cdc as the...,False
4,955.0,The genomic sequences of coronaviruses that su...,two possibilities should be considered for ori...,False
5,958.0,The U.S. government has released their initial...,earlier today trump administration released it...,False
6,963.0,More babies die by abortion in two days than a...,more babies will die by abortion in two days t...,False
7,966.0,The U.S. CDC encourages the use of a “[COVID-1...,covid parent warning alert i had to take my so...,False
8,968.0,“Coronavirus was created in Wuhan lab and rele...,just now on tucker carlson it was revealed tha...,False
9,969.0,If you decide you don’t want the COVID-19 vacc...,earlier today trump administration released it...,False
10,970.0,There is no second wave of COVID-19; this seco...,it 's not second wave of c19 coming soon. it '...,False
11,971.0,Genetic evidence within the Spike gene of the ...,dr. li meng yan joins tucker carlson with insi...,False
12,973.0,PGA golfer Bubba Wallace wrote Facebook post t...,hooray for bubba watson. he put into words wha...,False
13,974.0,The World Integrated Trade Solutions (WITS) we...,this is incredibly strange. world bank website...,False

In [42]:
def find_label(newtext):
    vec_newtext=tfidf_vectorizer.transform([newtext])
    y_pred=pac.predict(vec_newtext)
    return y_pred[0]

In [43]:
find_label((df_true['text'][0]))#predicting true news as false

'False'

In [46]:
df_true['text'][0]

'experts warn covid-19 pandemic may intensify over winter months but there are steps you can take to protect yourself and your family .. '

In [45]:
find_label((df_fake['text'][0]))

'False'

In [47]:
df_fake['text'][0]

'instant download http://drberg.com/covid-waves covid-19 first and second wave)here are references:1. swedish study about memory t cells and long term .... '

In [48]:
sum([1 if find_label((df_true['text'][i]))=='True' else 0 for i in range(len(df_true['text']))])/df_true['text'].size

0.1631578947368421

In [2]:
sum([1 if find_label((df_fake['text'][i]))=='False' else 0 for i in range(len(df_fake['text']))])/df_fake['text'].size

NameError: name 'df_fake' is not defined

In [50]:
#Only 16% times the model predicts the actual results as true for the unknown dataset which all the news are true
#Only 28% times the model predicts the actual results as true for the unknown dataset which all the news are false

In [ ]:
#So can't conclude only with the accuracy